# Frontend environment variables
# URL del backend API
VITE_API_URL=http://localhost:5000/api

# URL de imagen QR para pagos (puede ser un PNG/JPG/WEBP alojado)
VITE_QR_PAYMENT_URL=https://res.cloudinary.com/dcybfl5ae/image/upload/v1760327765/rueda_negocios/comprobantes/BNB_Simple_2025_10_12-19_07_45_gvxwmo.png
